header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
  z-index: 1;

  .goHome-wrapper {
    position: relative;
    border-radius: 0 0 100px 0;
    cursor: pointer;

    img {
      position: relative;
      margin: 25px 40px 40px 25px;
      height: 36px;
      width: 34px;
    }

  }

  .children-wrapper {
    position: relative;
    margin-top: 23px;
    margin-right: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .children {
      position: relative;
      margin-right: 21px;
      height: 60px;
      width: 60px;

      img {
        position: relative;
        height: 100%;
        width: 100%;
      }

      &:last-child {
        margin-right: 0;
      }

      &.selectedStory {
        height: 90px;
        width: 90px;
        border-radius: 100px;
        border: 2px solid red;
      }

    }

  }

}