#intro {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F8F3EE;
  overflow: hidden;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #F8F3EE;
    user-select: none;
    -webkit-user-drag: none;

    p {
      position: relative;
      margin-bottom: -20px;
      font-family: 'BERNARD WACKER', sans-serif;
      font-size: 38px;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: 0em;
      text-align: left;
      color: #5F3926;
      user-select: none;
      -webkit-user-drag: none;
    }

    h3 {
      position: relative;
      font-family: 'BERNARD WACKER', sans-serif;
      font-size: 83px;
      font-weight: 400;
      line-height: 101px;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
      color: #5F3926;
      user-select: none;
      -webkit-user-drag: none;
    }

    div {
      position: relative;
      display: flex;
      flex-direction: row;

      img {
        position: relative;
        top: 15px;
        margin-right: 22px;
        height: 55px;
        width: 52px;
      }

      h3 {
        position: relative;
        margin-top: -28px;
        font-family: 'BERNARD WACKER', sans-serif;
        font-size: 83px;
        font-weight: 400;
        line-height: 101px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
        color: #5F3926;
        user-select: none;
        -webkit-user-drag: none;
      }

    }

  }

  .logo-wrapper {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;

    img {
      position: relative;
      height: 55px;

      &:nth-child(1) {
        margin-right: 25px;
      }

    }

  }

}