#presentation {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;

  .presentation-wrapper {
    position: relative;
    height: 100%;
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .backgroundPresentation {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 0;
    }

    .icon {
      position: relative;
      width: 50%;
    }

    .info-presentation {
      position: relative;
      top: 6%;
      display: flex;
      flex-direction: column;

      .name {
        position: relative;
        font-family: 'BERNARD WACKER', sans-serif;
        font-size: 68px;
        font-weight: 400;
        line-height: 83px;
        letter-spacing: 0em;
        text-align: left;
      }

      .age {
        position: relative;
        font-family: 'BERNARD WACKER', sans-serif;
        font-size: 41px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
        text-align: left;
      }

    }

  }

  .content-wrapper {
    position: relative;
    padding: 108px 0 108px 56px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    .top-part {
      position: relative;
      display: flex;
      flex-direction: column;

      .hey {
        position: relative;
        margin-bottom: 5px;
        font-family: 'BERNARD WACKER', sans-serif;
        font-size: 50px;
        font-weight: 400;
        line-height: 61px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
      }

      .p1 {
        margin-bottom: 18px;
      }

      .p2 {
        max-width: 560px;
      }

    }

    .bottom-part {
      position: relative;
      display: flex;
      flex-direction: column;

      .p1 {
        max-width: 490px;
      }

    }

    p {
      position: relative;
      font-family: Lexend;
      font-size: 26px;
      font-weight: 400;
      line-height: 33px;
      letter-spacing: 0em;
      text-align: left;

      span {
        position: relative;

        &.olivier {

          &:after {
            position: absolute;
            content: url("../img/nameUnderlineOlivier.svg");
            width: 90px;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
          }

        }

        &.devi {

          &:after {
            position: absolute;
            content: url("../img/nameUnderlineDevi.svg");
            width: 90px;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
          }

        }

        &.frigg {

          &:after {
            position: absolute;
            content: url("../img/nameUnderlineFrigg.svg");
            width: 90px;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
          }

        }

        &.carlos {

          &:after {
            position: absolute;
            content: url("../img/nameUnderlineCarlos.svg");
            width: 90px;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
          }

        }

      }

    }

    .country {
      position: absolute;
      bottom: 14%;
      right: 15px;
      height: 375px;
      width: 550px;
    }

  }

  &.olivier {

    .content-wrapper {

      .country {
        position: absolute;
        bottom: 18%;
        right: 15px;
        height: 375px;
        width: 550px;
      }

    }

  }

  &.devi {

    .content-wrapper {

      .top-part {

        .p2 {
          max-width: 570px;
        }

      }

      .bottom-part {

        .p1 {
          max-width: 460px;
        }

      }

      .country {
        position: absolute;
        bottom: 20%;
        right: 0;
        height: 345px;
        width: 510px;
      }

    }

  }

  &.frigg {

    .content-wrapper {

      .bottom-part {

        .p1 {
          max-width: 530px;
        }

      }

      .country {
        position: absolute;
        bottom: 26%;
        right: 0;
        height: 346px;
        width: 510px;
      }

    }

  }

  &.carlos {

    .content-wrapper {

      .top-part {

        .p2 {
          max-width: 530px;
        }

      }

      .bottom-part {

        .p1 {
          max-width: 460px;
        }

      }

      .country {
        position: absolute;
        bottom: 24%;
        right: 0;
        height: 375px;
        width: 550px;
      }

    }

  }

}