@import url("https://fonts.cdnfonts.com/css/bernard-wacker");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow: hidden;
}

#intro {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F8F3EE;
  overflow: hidden;
}
#intro .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
#intro .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #F8F3EE;
  user-select: none;
  -webkit-user-drag: none;
}
#intro .wrapper p {
  position: relative;
  margin-bottom: -20px;
  font-family: "BERNARD WACKER", sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: #5F3926;
  user-select: none;
  -webkit-user-drag: none;
}
#intro .wrapper h3 {
  position: relative;
  font-family: "BERNARD WACKER", sans-serif;
  font-size: 83px;
  font-weight: 400;
  line-height: 101px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #5F3926;
  user-select: none;
  -webkit-user-drag: none;
}
#intro .wrapper div {
  position: relative;
  display: flex;
  flex-direction: row;
}
#intro .wrapper div img {
  position: relative;
  top: 15px;
  margin-right: 22px;
  height: 55px;
  width: 52px;
}
#intro .wrapper div h3 {
  position: relative;
  margin-top: -28px;
  font-family: "BERNARD WACKER", sans-serif;
  font-size: 83px;
  font-weight: 400;
  line-height: 101px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #5F3926;
  user-select: none;
  -webkit-user-drag: none;
}
#intro .logo-wrapper {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1150px) {
  #intro .logo-wrapper {
    bottom: 10%;
  }
}
#intro .logo-wrapper img {
  position: relative;
  height: 55px;
}
#intro .logo-wrapper img:nth-child(1) {
  margin-right: 25px;
}

#startQuestion {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F8F3EE;
}
#startQuestion h3 {
  position: relative;
  margin-bottom: 20px;
  font-family: "BERNARD WACKER", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  color: #5F3926;
}
#startQuestion .personnage {
  position: relative;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
#startQuestion .personnage .container {
  position: relative;
  display: flex;
  flex-direction: row;
}
#startQuestion .personnage .container .item {
  position: relative;
  margin-right: 37px;
  border-radius: 100px;
}
#startQuestion .personnage .container .item img {
  position: relative;
  height: 85px;
  width: 85px;
  border-radius: 100px;
  border: 2px solid transparent;
  transition: all 0.35s ease-in-out;
}
#startQuestion .personnage .container .item:last-child {
  margin-right: 0;
}
#startQuestion .personnage .container .item.active img {
  border: 2px solid #FF6948;
  transition: all 0.35s ease-in-out;
}
#startQuestion .transport {
  position: relative;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
#startQuestion .transport .container {
  position: relative;
  display: flex;
  flex-direction: row;
}
#startQuestion .transport .container .item {
  position: relative;
  margin-right: 36px;
  height: 70px;
  width: 70px;
}
#startQuestion .transport .container .item:nth-child(1) {
  background: url("../img/transport/car-white.svg") center/cover no-repeat;
}
#startQuestion .transport .container .item:nth-child(2) {
  background: url("../img/transport/bike-white.svg") center/cover no-repeat;
}
#startQuestion .transport .container .item:nth-child(3) {
  background: url("../img/transport/bus-white.svg") center/cover no-repeat;
}
#startQuestion .transport .container .item:nth-child(4) {
  background: url("../img/transport/walk-white.svg") center/cover no-repeat;
}
#startQuestion .transport .container .item.active:nth-child(1) {
  background: url("../img/transport/car-orange.svg") center/cover no-repeat;
}
#startQuestion .transport .container .item.active:nth-child(2) {
  background: url("../img/transport/bike-orange.svg") center/cover no-repeat;
}
#startQuestion .transport .container .item.active:nth-child(3) {
  background: url("../img/transport/bus-orange.svg") center/cover no-repeat;
}
#startQuestion .transport .container .item.active:nth-child(4) {
  background: url("../img/transport/walk-orange.svg") center/cover no-repeat;
}
#startQuestion .transport .container .item:last-child {
  margin-right: 0;
}
#startQuestion .time {
  position: relative;
  margin-bottom: 50px;
}
#startQuestion .time .container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#startQuestion .time .container .item {
  position: relative;
  margin-right: 15px;
}
#startQuestion .time .container .item .wrapper {
  position: relative;
  padding: 7px 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  border-radius: 20px;
  border: 2px solid #FF6948;
  transition: all 0.35s ease-in-out;
}
#startQuestion .time .container .item .wrapper .image {
  position: relative;
  height: 33px;
  width: 33px;
  background: url("../img/clock-orange.svg") center/cover no-repeat;
}
@media screen and (max-width: 1500px) {
  #startQuestion .time .container .item .wrapper .image {
    height: 25px;
    width: 25px;
  }
}
#startQuestion .time .container .item .wrapper p {
  position: relative;
  margin-left: 14px;
  font-family: Lexend;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FF6948;
  transition: all 0.35s ease-in-out;
}
#startQuestion .time .container .item .wrapper.active {
  background: #FF6948;
  transition: all 0.35s ease-in-out;
}
#startQuestion .time .container .item .wrapper.active .image {
  background: url("../img/clock-white.svg") center/cover no-repeat;
}
#startQuestion .time .container .item .wrapper.active p {
  color: white;
  transition: all 0.35s ease-in-out;
}
#startQuestion .time .container .item:last-child {
  margin-right: 0;
}
#startQuestion .saveButton {
  position: relative;
  padding: 10px 25px;
  border-radius: 100px;
  border: none;
  outline: none;
  display: flex;
  font-family: Lexend;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  background: #5F3926;
}

#choose-children-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#choose-children-wrapper .children-wrapper {
  position: relative;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
#choose-children-wrapper .children-wrapper .backgroundChooseChildren {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
#choose-children-wrapper .children-wrapper .iconChildren {
  position: relative;
  margin: 0 auto;
  width: 65%;
}
#choose-children-wrapper .children-wrapper .info-children {
  position: relative;
  margin: 0 auto;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#choose-children-wrapper .children-wrapper .info-children .history {
  position: relative;
  font-family: "BERNARD WACKER", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0;
  text-align: left;
}
#choose-children-wrapper .children-wrapper .info-children .name {
  position: relative;
  font-family: "BERNARD WACKER", sans-serif;
  font-size: 53px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0;
  text-align: left;
}
#choose-children-wrapper .children-wrapper .info-children .country-wrapper {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#choose-children-wrapper .children-wrapper .info-children .country-wrapper img {
  position: relative;
  margin-right: 14px;
  height: 35px;
  width: 33px;
}
#choose-children-wrapper .children-wrapper .info-children .country-wrapper .country {
  position: relative;
  font-family: "BERNARD WACKER", sans-serif;
  font-size: 53px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
#choose-children-wrapper .children-wrapper:nth-child(4) .info-children .country-wrapper .country {
  font-size: 39px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0;
  text-align: left;
}

header {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
  z-index: 1;
}
header .goHome-wrapper {
  position: relative;
  border-radius: 0 0 100px 0;
  cursor: pointer;
}
header .goHome-wrapper img {
  position: relative;
  margin: 25px 40px 40px 25px;
  height: 36px;
  width: 34px;
}
header .children-wrapper {
  position: relative;
  margin-top: 23px;
  margin-right: 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .children-wrapper .children {
  position: relative;
  margin-right: 21px;
  height: 50px;
  width: 50px;
}
header .children-wrapper .children img {
  position: relative;
  height: 100%;
  width: 100%;
}
header .children-wrapper .children:last-child {
  margin-right: 0;
}
header .children-wrapper .children.selectedStory {
  height: 75px;
  width: 75px;
  border-radius: 100px;
  border: 2px solid red;
}

footer {
  position: absolute;
  right: 23px;
  bottom: 34px;
  display: flex;
  flex-direction: row;
}
footer .arrow {
  position: relative;
  padding: 21px 16px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}
footer .arrow img {
  position: relative;
  height: 28px;
  width: 38px;
  user-select: none;
  -webkit-user-drag: none;
}
footer .arrow.prev img {
  transform: rotate(180deg);
}
footer .arrow.prev:after {
  position: absolute;
  content: "Retour";
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Lexend", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}
footer .arrow.next {
  margin-left: 10px;
}
footer .arrow.next:after {
  position: absolute;
  content: "Suivant";
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Lexend", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

#presentation {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
#presentation .presentation-wrapper {
  position: relative;
  height: 100%;
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#presentation .presentation-wrapper .backgroundPresentation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
#presentation .presentation-wrapper .icon {
  position: relative;
  width: 50%;
}
#presentation .presentation-wrapper .info-presentation {
  position: relative;
  top: 6%;
  display: flex;
  flex-direction: column;
}
#presentation .presentation-wrapper .info-presentation .name {
  position: relative;
  font-family: "BERNARD WACKER", sans-serif;
  font-size: 68px;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0em;
  text-align: left;
}
#presentation .presentation-wrapper .info-presentation .age {
  position: relative;
  font-family: "BERNARD WACKER", sans-serif;
  font-size: 41px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}
#presentation .content-wrapper {
  position: relative;
  padding: 108px 0 108px 56px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
#presentation .content-wrapper .top-part {
  position: relative;
  display: flex;
  flex-direction: column;
}
#presentation .content-wrapper .top-part .hey {
  position: relative;
  margin-bottom: 5px;
  font-family: "BERNARD WACKER", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}
#presentation .content-wrapper .top-part .p1 {
  margin-bottom: 18px;
}
#presentation .content-wrapper .top-part .p2 {
  max-width: 560px;
}
#presentation .content-wrapper .bottom-part {
  position: relative;
  display: flex;
  flex-direction: column;
}
#presentation .content-wrapper .bottom-part .p1 {
  max-width: 490px;
}
#presentation .content-wrapper p {
  position: relative;
  font-family: Lexend;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
#presentation .content-wrapper p span {
  position: relative;
}
#presentation .content-wrapper p span.olivier:after {
  position: absolute;
  content: url("../img/nameUnderlineOlivier.svg");
  width: 90px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
#presentation .content-wrapper p span.devi:after {
  position: absolute;
  content: url("../img/nameUnderlineDevi.svg");
  width: 90px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
#presentation .content-wrapper p span.frigg:after {
  position: absolute;
  content: url("../img/nameUnderlineFrigg.svg");
  width: 90px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
#presentation .content-wrapper p span.carlos:after {
  position: absolute;
  content: url("../img/nameUnderlineCarlos.svg");
  width: 90px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
#presentation .content-wrapper .country {
  position: absolute;
  bottom: 14%;
  right: 15px;
  height: 375px;
  width: 550px;
}
#presentation.olivier .content-wrapper .country {
  position: absolute;
  bottom: 20%;
  right: 15px;
  height: 345px;
  width: 510px;
}
#presentation.devi .content-wrapper .top-part .p2 {
  max-width: 570px;
}
#presentation.devi .content-wrapper .bottom-part .p1 {
  max-width: 460px;
}
#presentation.devi .content-wrapper .country {
  position: absolute;
  bottom: 20%;
  right: 0;
  height: 345px;
  width: 510px;
}
#presentation.frigg .content-wrapper .bottom-part .p1 {
  max-width: 530px;
}
#presentation.frigg .content-wrapper .country {
  position: absolute;
  bottom: 26%;
  right: 0;
  height: 346px;
  width: 510px;
}
#presentation.carlos .content-wrapper .top-part .p2 {
  max-width: 530px;
}
#presentation.carlos .content-wrapper .bottom-part .p1 {
  max-width: 460px;
}
#presentation.carlos .content-wrapper .country {
  position: absolute;
  bottom: 25%;
  right: 0;
  height: 345px;
  width: 510px;
}

#storyOne {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 130px 165px 80px 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#storyOne .top-part {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#storyOne .top-part p {
  max-width: 780px;
}
#storyOne .top-part .p1, #storyOne .top-part .p2 {
  margin-bottom: 20px;
}
#storyOne .bottom-part {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
}
#storyOne .bottom-part p {
  max-width: 740px;
}
#storyOne .bottom-part .p1 {
  margin-bottom: 20px;
}
#storyOne p {
  position: relative;
  font-family: Lexend;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
#storyOne .asset {
  position: absolute;
  height: 170px;
  width: 210px;
  top: 45%;
  right: 6%;
  transform: translateY(-50%);
}
#storyOne.olivier {
  padding: 110px 165px 130px 95px;
}
#storyOne.devi {
  padding: 130px 165px 120px 95px;
}
#storyOne.devi .top-part p {
  max-width: 790px;
}
#storyOne.devi .asset {
  display: none;
}
#storyOne.frigg {
  padding: 130px 165px 130px 95px;
}
#storyOne.frigg .bottom-part p {
  max-width: 720px;
}
#storyOne.frigg .asset {
  display: none;
}
#storyOne.carlos {
  padding: 130px 165px 115px 95px;
}
#storyOne.carlos .top-part p {
  max-width: 840px;
}
#storyOne.carlos .bottom-part p {
  max-width: 670px;
}
#storyOne.carlos .asset {
  display: none;
}

#storyTwo {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 130px 80px 0 75px;
  display: flex;
  flex-direction: column;
}
#storyTwo .title {
  position: relative;
  margin-bottom: 30px;
  max-width: 570px;
  font-family: "BERNARD WACKER", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}
#storyTwo .wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#storyTwo .wrapper .left-part {
  position: relative;
}
#storyTwo .wrapper .left-part p {
  position: relative;
  max-width: 480px;
  font-family: Lexend;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
#storyTwo .wrapper .left-part p.p2 {
  margin-top: 20px;
}
#storyTwo.devi .title {
  max-width: 770px;
  margin-bottom: 50px;
}
#storyTwo.frigg .graph-wrapper {
  position: absolute;
  right: 50px;
  top: 22%;
  display: flex;
  flex-direction: column;
}
#storyTwo.frigg .graph-wrapper .button-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#storyTwo.frigg .graph-wrapper .button-wrapper .button {
  position: relative;
  padding: 8.5px 26px;
  font-family: Lexend;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #5A8777;
  background: transparent;
  border-radius: 100px;
  border: 1px solid #5A8777;
  transition: all 0.35s ease-in-out;
}
#storyTwo.frigg .graph-wrapper .button-wrapper .button.active {
  background: #5A8777;
  color: white;
  transition: all 0.35s ease-in-out;
}
#storyTwo.frigg .graph-wrapper .button-wrapper .button:nth-child(1) {
  margin-right: 16px;
}
#storyTwo.frigg .graph-wrapper .data-wrapper {
  position: relative;
  margin: 26px auto 28px;
  display: flex;
  flex-direction: column;
  width: 470px;
  justify-content: center;
}
#storyTwo.frigg .graph-wrapper .data-wrapper .teacher {
  position: relative;
  margin: 0 auto 13px;
  height: 90px;
  width: 90px;
}
#storyTwo.frigg .graph-wrapper .data-wrapper .students-wrapper {
  position: relative;
  left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#storyTwo.frigg .graph-wrapper .data-wrapper .students-wrapper img {
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
  height: 60px;
  width: 60px;
}
#storyTwo.frigg .graph-wrapper hr {
  position: relative;
  margin: 18px auto;
  height: 1px;
  width: 470px;
  border: none;
  background: #5A8777;
}
#storyTwo.frigg .graph-wrapper .phrase {
  position: relative;
  font-family: Lexend;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #4F4634;
}
#storyTwo.carlos .title {
  max-width: 600px;
  margin-bottom: 50px;
}
#storyTwo.carlos .wrapper {
  width: 100%;
}
#storyTwo.carlos .wrapper .left-part p {
  max-width: 550px;
}
#storyTwo.carlos .graph-wrapper {
  position: absolute;
  right: 50px;
  bottom: 22%;
  display: flex;
  flex-direction: column;
  background: transparent;
}
#storyTwo.carlos .graph-wrapper .data-wrapper {
  position: relative;
  margin-bottom: 21px;
  display: flex;
  flex-direction: row;
}
#storyTwo.carlos .graph-wrapper .data-wrapper .data {
  position: relative;
  margin-top: 25px;
  font-family: BERNARD WACKER;
  font-size: 50px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
  color: #5683C4;
}
#storyTwo.carlos .graph-wrapper .data-wrapper .imgGraph {
  position: relative;
  width: 177px;
}
#storyTwo.carlos .graph-wrapper .phrase {
  position: relative;
  width: 400px;
  font-family: Lexend;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #4F4634;
}
#storyTwo.carlos .graph-wrapper hr {
  position: relative;
  margin: 18px auto;
  height: 1px;
  width: 350px;
  border: none;
  background: #5683C4;
}
#storyTwo.carlos .graph-wrapper .button-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#storyTwo.carlos .graph-wrapper .button-wrapper .button {
  position: relative;
  padding: 8.5px 26px;
  font-family: Lexend;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #5683C4;
  background: transparent;
  border-radius: 100px;
  border: 1px solid #5683C4;
  transition: all 0.35s ease-in-out;
}
#storyTwo.carlos .graph-wrapper .button-wrapper .button.active {
  background: #5683C4;
  color: white;
  transition: all 0.35s ease-in-out;
}
#storyTwo.carlos .graph-wrapper .button-wrapper .button:nth-child(1) {
  margin-right: 16px;
}

#graph {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/*# sourceMappingURL=style.css.map */
